---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi! I'm Jenny.</h1>
			<p>
				I currently lead the design & frontend team for internal tools @ Develop For Good.
			</p>
			<p>
				I’ve always thought the human brain is pretty awesome — it takes in everything we sense and helps us make sense of it. Design is all around us, so we're always trying to find meaning and structure in what we see and use. And with tech, we're always exploring new, uncharted territory to further our connection with machines. It makes me wonder: how can I blend design and tech to create genuine, nostalgic experiences in a digital world? Ultimately, my goal as a user-centered engineer is to make online interactions feel natural and enjoyable with a focus on clean, throwback-inspired design and thoughtful engineering.
			</p>
			
			<p>If you read this far (yay!), feel free to check out my recent works and publications:</p>
			<ul>
				<li><a href="../content/blog/pantheon.md">Pantheon: Powering nonprofit volunteer management with seamless tech integration</a></li>
			</ul>
			
		</main>
		<Footer />
	</body>
</html>
